<h1>Created article confirmation</h1>
<p>Your article has been created</p>
<P>TITLE</p></br>
<%= params[:title] %></br>
<p>CONTENT</p></br>
<%= params[:text] %></br>

<a href= "new" > create a new article </a></br>
<a href="articles/show" >   View all previous articles </a></br>

